@font-face {
    font-family: 'FontAwesome';
    src: url('../fonts/fontawesome-webfont.eot?v=4.2.0');
    src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.2.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff?v=4.2.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.2.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.2.0#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.icon {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-large {
    font-size: 1.3333333333333333em;
    margin-top: -4px;
    padding-top: 3px;
    margin-bottom: -4px;
    padding-bottom: 3px;
    vertical-align: middle;
}

.nav [class^="icon-"], .nav [class*=" icon-"] {
    vertical-align: inherit;
    margin-top: -4px;
    padding-top: 3px;
    margin-bottom: -4px;
    padding-bottom: 3px;
}

.nav [class^="icon-"].icon-large, .nav [class*=" icon-"].icon-large {
    vertical-align: -25%;
}

.nav-pills [class^="icon-"].icon-large, .nav-tabs [class^="icon-"].icon-large, .nav-pills [class*=" icon-"].icon-large, .nav-tabs [class*=" icon-"].icon-large {
    line-height: .75em;
    margin-top: -7px;
    padding-top: 5px;
    margin-bottom: -5px;
    padding-bottom: 4px;
}

.btn [class^="icon-"].pull-left, .btn [class*=" icon-"].pull-left, .btn [class^="icon-"].pull-right, .btn [class*=" icon-"].pull-right {
    vertical-align: inherit;
}

.btn [class^="icon-"].icon-large, .btn [class*=" icon-"].icon-large {
    margin-top: -0.5em;
}

a [class^="icon-"], a [class*=" icon-"] {
    cursor: pointer;
}

.icon-glass {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf000;');
}

.icon-glass {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf000;');
}

.icon-music {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf001;');
}

.icon-search {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf002;');
}

.icon-envelope-o {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf003;');
}

.icon-heart {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf004;');
}

.icon-star {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf005;');
}

.icon-star-o {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf006;');
}

.icon-user {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf007;');
}

.icon-film {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf008;');
}

.icon-th-large {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf009;');
}

.icon-th {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf00a;');
}

.icon-th-list {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf00b;');
}

.icon-check {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf00c;');
}

.icon-remove, .icon-close, .icon-times {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf00d;');
}

.icon-search-plus {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf00e;');
}

.icon-search-minus {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf010;');
}

.icon-power-off {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf011;');
}

.icon-signal {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf012;');
}

.icon-gear, .icon-cog {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf013;');
}

.icon-trash-o {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf014;');
}

.icon-home {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf015;');
}

.icon-file-o {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf016;');
}

.icon-clock-o {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf017;');
}

.icon-road {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf018;');
}

.icon-download {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf019;');
}

.icon-arrow-circle-o-down {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf01a;');
}

.icon-arrow-circle-o-up {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf01b;');
}

.icon-inbox {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf01c;');
}

.icon-play-circle-o {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf01d;');
}

.icon-rotate-right, .icon-repeat {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf01e;');
}

.icon-refresh {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf021;');
}

.icon-list-alt {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf022;');
}

.icon-lock {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf023;');
}

.icon-flag {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf024;');
}

.icon-headphones {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf025;');
}

.icon-volume-off {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf026;');
}

.icon-volume-down {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf027;');
}

.icon-volume-up {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf028;');
}

.icon-qrcode {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf029;');
}

.icon-barcode {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf02a;');
}

.icon-tag {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf02b;');
}

.icon-tags {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf02c;');
}

.icon-book {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf02d;');
}

.icon-bookmark {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf02e;');
}

.icon-print {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf02f;');
}

.icon-camera {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf030;');
}

.icon-font {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf031;');
}

.icon-bold {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf032;');
}

.icon-italic {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf033;');
}

.icon-text-height {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf034;');
}

.icon-text-width {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf035;');
}

.icon-align-left {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf036;');
}

.icon-align-center {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf037;');
}

.icon-align-right {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf038;');
}

.icon-align-justify {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf039;');
}

.icon-list {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf03a;');
}

.icon-dedent, .icon-outdent {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf03b;');
}

.icon-indent {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf03c;');
}

.icon-video-camera {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf03d;');
}

.icon-photo, .icon-image, .icon-picture-o {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf03e;');
}

.icon-pencil {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf040;');
}

.icon-map-marker {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf041;');
}

.icon-adjust {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf042;');
}

.icon-tint {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf043;');
}

.icon-edit, .icon-pencil-square-o {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf044;');
}

.icon-share-square-o {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf045;');
}

.icon-check-square-o {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf046;');
}

.icon-arrows {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf047;');
}

.icon-step-backward {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf048;');
}

.icon-fast-backward {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf049;');
}

.icon-backward {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf04a;');
}

.icon-play {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf04b;');
}

.icon-pause {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf04c;');
}

.icon-stop {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf04d;');
}

.icon-forward {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf04e;');
}

.icon-fast-forward {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf050;');
}

.icon-step-forward {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf051;');
}

.icon-eject {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf052;');
}

.icon-chevron-left {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf053;');
}

.icon-chevron-right {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf054;');
}

.icon-plus-circle {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf055;');
}

.icon-minus-circle {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf056;');
}

.icon-times-circle {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf057;');
}

.icon-check-circle {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf058;');
}

.icon-question-circle {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf059;');
}

.icon-info-circle {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf05a;');
}

.icon-crosshairs {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf05b;');
}

.icon-times-circle-o {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf05c;');
}

.icon-check-circle-o {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf05d;');
}

.icon-ban {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf05e;');
}

.icon-arrow-left {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf060;');
}

.icon-arrow-right {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf061;');
}

.icon-arrow-up {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf062;');
}

.icon-arrow-down {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf063;');
}

.icon-mail-forward, .icon-share {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf064;');
}

.icon-expand {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf065;');
}

.icon-compress {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf066;');
}

.icon-plus {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf067;');
}

.icon-minus {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf068;');
}

.icon-asterisk {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf069;');
}

.icon-exclamation-circle {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf06a;');
}

.icon-gift {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf06b;');
}

.icon-leaf {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf06c;');
}

.icon-fire {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf06d;');
}

.icon-eye {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf06e;');
}

.icon-eye-slash {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf070;');
}

.icon-warning, .icon-exclamation-triangle {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf071;');
}

.icon-plane {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf072;');
}

.icon-calendar {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf073;');
}

.icon-random {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf074;');
}

.icon-comment {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf075;');
}

.icon-magnet {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf076;');
}

.icon-chevron-up {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf077;');
}

.icon-chevron-down {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf078;');
}

.icon-retweet {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf079;');
}

.icon-shopping-cart {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf07a;');
}

.icon-folder {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf07b;');
}

.icon-folder-open {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf07c;');
}

.icon-arrows-v {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf07d;');
}

.icon-arrows-h {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf07e;');
}

.icon-bar-chart-o, .icon-bar-chart {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf080;');
}

.icon-twitter-square {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf081;');
}

.icon-facebook-square {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf082;');
}

.icon-camera-retro {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf083;');
}

.icon-key {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf084;');
}

.icon-gears, .icon-cogs {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf085;');
}

.icon-comments {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf086;');
}

.icon-thumbs-o-up {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf087;');
}

.icon-thumbs-o-down {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf088;');
}

.icon-star-half {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf089;');
}

.icon-heart-o {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf08a;');
}

.icon-sign-out {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf08b;');
}

.icon-linkedin-square {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf08c;');
}

.icon-thumb-tack {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf08d;');
}

.icon-external-link {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf08e;');
}

.icon-sign-in {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf090;');
}

.icon-trophy {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf091;');
}

.icon-github-square {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf092;');
}

.icon-upload {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf093;');
}

.icon-lemon-o {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf094;');
}

.icon-phone {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf095;');
}

.icon-square-o {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf096;');
}

.icon-bookmark-o {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf097;');
}

.icon-phone-square {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf098;');
}

.icon-twitter {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf099;');
}

.icon-facebook {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf09a;');
}

.icon-github {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf09b;');
}

.icon-unlock {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf09c;');
}

.icon-credit-card {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf09d;');
}

.icon-rss {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf09e;');
}

.icon-hdd-o {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf0a0;');
}

.icon-bullhorn {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf0a1;');
}

.icon-bell {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf0f3;');
}

.icon-certificate {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf0a3;');
}

.icon-hand-o-right {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf0a4;');
}

.icon-hand-o-left {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf0a5;');
}

.icon-hand-o-up {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf0a6;');
}

.icon-hand-o-down {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf0a7;');
}

.icon-arrow-circle-left {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf0a8;');
}

.icon-arrow-circle-right {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf0a9;');
}

.icon-arrow-circle-up {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf0aa;');
}

.icon-arrow-circle-down {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf0ab;');
}

.icon-globe {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf0ac;');
}

.icon-wrench {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf0ad;');
}

.icon-tasks {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf0ae;');
}

.icon-filter {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf0b0;');
}

.icon-briefcase {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf0b1;');
}

.icon-arrows-alt {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf0b2;');
}

.icon-group, .icon-users {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf0c0;');
}

.icon-chain, .icon-link {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf0c1;');
}

.icon-cloud {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf0c2;');
}

.icon-flask {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf0c3;');
}

.icon-cut, .icon-scissors {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf0c4;');
}

.icon-copy, .icon-files-o {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf0c5;');
}

.icon-paperclip {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf0c6;');
}

.icon-save, .icon-floppy-o {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf0c7;');
}

.icon-square {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf0c8;');
}

.icon-navicon, .icon-reorder, .icon-bars {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf0c9;');
}

.icon-list-ul {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf0ca;');
}

.icon-list-ol {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf0cb;');
}

.icon-strikethrough {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf0cc;');
}

.icon-underline {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf0cd;');
}

.icon-table {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf0ce;');
}

.icon-magic {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf0d0;');
}

.icon-truck {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf0d1;');
}

.icon-pinterest {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf0d2;');
}

.icon-pinterest-square {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf0d3;');
}

.icon-google-plus-square {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf0d4;');
}

.icon-google-plus {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf0d5;');
}

.icon-money {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf0d6;');
}

.icon-caret-down {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf0d7;');
}

.icon-caret-up {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf0d8;');
}

.icon-caret-left {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf0d9;');
}

.icon-caret-right {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf0da;');
}

.icon-columns {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf0db;');
}

.icon-unsorted, .icon-sort {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf0dc;');
}

.icon-sort-down, .icon-sort-desc {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf0dd;');
}

.icon-sort-up, .icon-sort-asc {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf0de;');
}

.icon-envelope {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf0e0;');
}

.icon-linkedin {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf0e1;');
}

.icon-rotate-left, .icon-undo {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf0e2;');
}

.icon-legal, .icon-gavel {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf0e3;');
}

.icon-dashboard, .icon-tachometer {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf0e4;');
}

.icon-comment-o {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf0e5;');
}

.icon-comments-o {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf0e6;');
}

.icon-flash, .icon-bolt {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf0e7;');
}

.icon-sitemap {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf0e8;');
}

.icon-umbrella {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf0e9;');
}

.icon-paste, .icon-clipboard {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf0ea;');
}

.icon-lightbulb-o {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf0eb;');
}

.icon-exchange {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf0ec;');
}

.icon-cloud-download {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf0ed;');
}

.icon-cloud-upload {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf0ee;');
}

.icon-user-md {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf0f0;');
}

.icon-stethoscope {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf0f1;');
}

.icon-suitcase {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf0f2;');
}

.icon-bell-o {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf0a2;');
}

.icon-coffee {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf0f4;');
}

.icon-cutlery {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf0f5;');
}

.icon-file-text-o {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf0f6;');
}

.icon-building-o {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf0f7;');
}

.icon-hospital-o {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf0f8;');
}

.icon-ambulance {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf0f9;');
}

.icon-medkit {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf0fa;');
}

.icon-fighter-jet {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf0fb;');
}

.icon-beer {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf0fc;');
}

.icon-h-square {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf0fd;');
}

.icon-plus-square {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf0fe;');
}

.icon-angle-double-left {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf100;');
}

.icon-angle-double-right {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf101;');
}

.icon-angle-double-up {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf102;');
}

.icon-angle-double-down {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf103;');
}

.icon-angle-left {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf104;');
}

.icon-angle-right {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf105;');
}

.icon-angle-up {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf106;');
}

.icon-angle-down {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf107;');
}

.icon-desktop {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf108;');
}

.icon-laptop {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf109;');
}

.icon-tablet {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf10a;');
}

.icon-mobile-phone, .icon-mobile {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf10b;');
}

.icon-circle-o {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf10c;');
}

.icon-quote-left {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf10d;');
}

.icon-quote-right {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf10e;');
}

.icon-spinner {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf110;');
}

.icon-circle {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf111;');
}

.icon-mail-reply, .icon-reply {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf112;');
}

.icon-github-alt {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf113;');
}

.icon-folder-o {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf114;');
}

.icon-folder-open-o {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf115;');
}

.icon-smile-o {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf118;');
}

.icon-frown-o {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf119;');
}

.icon-meh-o {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf11a;');
}

.icon-gamepad {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf11b;');
}

.icon-keyboard-o {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf11c;');
}

.icon-flag-o {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf11d;');
}

.icon-flag-checkered {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf11e;');
}

.icon-terminal {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf120;');
}

.icon-code {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf121;');
}

.icon-mail-reply-all, .icon-reply-all {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf122;');
}

.icon-star-half-empty, .icon-star-half-full, .icon-star-half-o {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf123;');
}

.icon-location-arrow {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf124;');
}

.icon-crop {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf125;');
}

.icon-code-fork {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf126;');
}

.icon-unlink, .icon-chain-broken {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf127;');
}

.icon-question {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf128;');
}

.icon-info {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf129;');
}

.icon-exclamation {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf12a;');
}

.icon-superscript {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf12b;');
}

.icon-subscript {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf12c;');
}

.icon-eraser {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf12d;');
}

.icon-puzzle-piece {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf12e;');
}

.icon-microphone {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf130;');
}

.icon-microphone-slash {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf131;');
}

.icon-shield {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf132;');
}

.icon-calendar-o {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf133;');
}

.icon-fire-extinguisher {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf134;');
}

.icon-rocket {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf135;');
}

.icon-maxcdn {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf136;');
}

.icon-chevron-circle-left {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf137;');
}

.icon-chevron-circle-right {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf138;');
}

.icon-chevron-circle-up {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf139;');
}

.icon-chevron-circle-down {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf13a;');
}

.icon-html5 {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf13b;');
}

.icon-css3 {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf13c;');
}

.icon-anchor {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf13d;');
}

.icon-unlock-alt {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf13e;');
}

.icon-bullseye {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf140;');
}

.icon-ellipsis-h {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf141;');
}

.icon-ellipsis-v {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf142;');
}

.icon-rss-square {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf143;');
}

.icon-play-circle {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf144;');
}

.icon-ticket {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf145;');
}

.icon-minus-square {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf146;');
}

.icon-minus-square-o {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf147;');
}

.icon-level-up {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf148;');
}

.icon-level-down {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf149;');
}

.icon-check-square {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf14a;');
}

.icon-pencil-square {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf14b;');
}

.icon-external-link-square {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf14c;');
}

.icon-share-square {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf14d;');
}

.icon-compass {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf14e;');
}

.icon-toggle-down, .icon-caret-square-o-down {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf150;');
}

.icon-toggle-up, .icon-caret-square-o-up {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf151;');
}

.icon-toggle-right, .icon-caret-square-o-right {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf152;');
}

.icon-euro, .icon-eur {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf153;');
}

.icon-gbp {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf154;');
}

.icon-dollar, .icon-usd {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf155;');
}

.icon-rupee, .icon-inr {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf156;');
}

.icon-cny, .icon-rmb, .icon-yen, .icon-jpy {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf157;');
}

.icon-ruble, .icon-rouble, .icon-rub {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf158;');
}

.icon-won, .icon-krw {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf159;');
}

.icon-bitcoin, .icon-btc {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf15a;');
}

.icon-file {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf15b;');
}

.icon-file-text {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf15c;');
}

.icon-sort-alpha-asc {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf15d;');
}

.icon-sort-alpha-desc {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf15e;');
}

.icon-sort-amount-asc {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf160;');
}

.icon-sort-amount-desc {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf161;');
}

.icon-sort-numeric-asc {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf162;');
}

.icon-sort-numeric-desc {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf163;');
}

.icon-thumbs-up {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf164;');
}

.icon-thumbs-down {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf165;');
}

.icon-youtube-square {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf166;');
}

.icon-youtube {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf167;');
}

.icon-xing {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf168;');
}

.icon-xing-square {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf169;');
}

.icon-youtube-play {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf16a;');
}

.icon-dropbox {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf16b;');
}

.icon-stack-overflow {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf16c;');
}

.icon-instagram {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf16d;');
}

.icon-flickr {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf16e;');
}

.icon-adn {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf170;');
}

.icon-bitbucket {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf171;');
}

.icon-bitbucket-square {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf172;');
}

.icon-tumblr {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf173;');
}

.icon-tumblr-square {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf174;');
}

.icon-long-arrow-down {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf175;');
}

.icon-long-arrow-up {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf176;');
}

.icon-long-arrow-left {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf177;');
}

.icon-long-arrow-right {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf178;');
}

.icon-apple {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf179;');
}

.icon-windows {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf17a;');
}

.icon-android {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf17b;');
}

.icon-linux {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf17c;');
}

.icon-dribbble {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf17d;');
}

.icon-skype {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf17e;');
}

.icon-foursquare {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf180;');
}

.icon-trello {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf181;');
}

.icon-female {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf182;');
}

.icon-male {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf183;');
}

.icon-gittip {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf184;');
}

.icon-sun-o {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf185;');
}

.icon-moon-o {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf186;');
}

.icon-archive {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf187;');
}

.icon-bug {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf188;');
}

.icon-vk {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf189;');
}

.icon-weibo {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf18a;');
}

.icon-renren {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf18b;');
}

.icon-pagelines {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf18c;');
}

.icon-stack-exchange {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf18d;');
}

.icon-arrow-circle-o-right {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf18e;');
}

.icon-arrow-circle-o-left {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf190;');
}

.icon-toggle-left, .icon-caret-square-o-left {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf191;');
}

.icon-dot-circle-o {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf192;');
}

.icon-wheelchair {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf193;');
}

.icon-vimeo-square {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf194;');
}

.icon-turkish-lira, .icon-try {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf195;');
}

.icon-plus-square-o {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf196;');
}

.icon-space-shuttle {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf197;');
}

.icon-slack {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf198;');
}

.icon-envelope-square {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf199;');
}

.icon-wordpress {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf19a;');
}

.icon-openid {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf19b;');
}

.icon-institution, .icon-bank, .icon-university {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf19c;');
}

.icon-mortar-board, .icon-graduation-cap {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf19d;');
}

.icon-yahoo {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf19e;');
}

.icon-google {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf1a0;');
}

.icon-reddit {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf1a1;');
}

.icon-reddit-square {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf1a2;');
}

.icon-stumbleupon-circle {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf1a3;');
}

.icon-stumbleupon {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf1a4;');
}

.icon-delicious {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf1a5;');
}

.icon-digg {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf1a6;');
}

.icon-pied-piper {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf1a7;');
}

.icon-pied-piper-alt {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf1a8;');
}

.icon-drupal {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf1a9;');
}

.icon-joomla {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf1aa;');
}

.icon-language {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf1ab;');
}

.icon-fax {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf1ac;');
}

.icon-building {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf1ad;');
}

.icon-child {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf1ae;');
}

.icon-paw {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf1b0;');
}

.icon-spoon {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf1b1;');
}

.icon-cube {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf1b2;');
}

.icon-cubes {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf1b3;');
}

.icon-behance {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf1b4;');
}

.icon-behance-square {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf1b5;');
}

.icon-steam {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf1b6;');
}

.icon-steam-square {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf1b7;');
}

.icon-recycle {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf1b8;');
}

.icon-automobile, .icon-car {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf1b9;');
}

.icon-cab, .icon-taxi {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf1ba;');
}

.icon-tree {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf1bb;');
}

.icon-spotify {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf1bc;');
}

.icon-deviantart {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf1bd;');
}

.icon-soundcloud {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf1be;');
}

.icon-database {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf1c0;');
}

.icon-file-pdf-o {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf1c1;');
}

.icon-file-word-o {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf1c2;');
}

.icon-file-excel-o {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf1c3;');
}

.icon-file-powerpoint-o {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf1c4;');
}

.icon-file-photo-o, .icon-file-picture-o, .icon-file-image-o {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf1c5;');
}

.icon-file-zip-o, .icon-file-archive-o {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf1c6;');
}

.icon-file-sound-o, .icon-file-audio-o {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf1c7;');
}

.icon-file-movie-o, .icon-file-video-o {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf1c8;');
}

.icon-file-code-o {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf1c9;');
}

.icon-vine {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf1ca;');
}

.icon-codepen {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf1cb;');
}

.icon-jsfiddle {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf1cc;');
}

.icon-life-bouy, .icon-life-buoy, .icon-life-saver, .icon-support, .icon-life-ring {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf1cd;');
}

.icon-circle-o-notch {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf1ce;');
}

.icon-ra, .icon-rebel {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf1d0;');
}

.icon-ge, .icon-empire {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf1d1;');
}

.icon-git-square {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf1d2;');
}

.icon-git {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf1d3;');
}

.icon-hacker-news {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf1d4;');
}

.icon-tencent-weibo {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf1d5;');
}

.icon-qq {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf1d6;');
}

.icon-wechat, .icon-weixin {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf1d7;');
}

.icon-send, .icon-paper-plane {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf1d8;');
}

.icon-send-o, .icon-paper-plane-o {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf1d9;');
}

.icon-history {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf1da;');
}

.icon-circle-thin {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf1db;');
}

.icon-header {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf1dc;');
}

.icon-paragraph {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf1dd;');
}

.icon-sliders {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf1de;');
}

.icon-share-alt {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf1e0;');
}

.icon-share-alt-square {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf1e1;');
}

.icon-bomb {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf1e2;');
}

.icon-soccer-ball-o, .icon-futbol-o {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf1e3;');
}

.icon-tty {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf1e4;');
}

.icon-binoculars {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf1e5;');
}

.icon-plug {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf1e6;');
}

.icon-slideshare {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf1e7;');
}

.icon-twitch {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf1e8;');
}

.icon-yelp {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf1e9;');
}

.icon-newspaper-o {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf1ea;');
}

.icon-wifi {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf1eb;');
}

.icon-calculator {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf1ec;');
}

.icon-paypal {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf1ed;');
}

.icon-google-wallet {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf1ee;');
}

.icon-cc-visa {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf1f0;');
}

.icon-cc-mastercard {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf1f1;');
}

.icon-cc-discover {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf1f2;');
}

.icon-cc-amex {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf1f3;');
}

.icon-cc-paypal {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf1f4;');
}

.icon-cc-stripe {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf1f5;');
}

.icon-bell-slash {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf1f6;');
}

.icon-bell-slash-o {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf1f7;');
}

.icon-trash {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf1f8;');
}

.icon-copyright {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf1f9;');
}

.icon-at {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf1fa;');
}

.icon-eyedropper {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf1fb;');
}

.icon-paint-brush {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf1fc;');
}

.icon-birthday-cake {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf1fd;');
}

.icon-area-chart {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf1fe;');
}

.icon-pie-chart {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf200;');
}

.icon-line-chart {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf201;');
}

.icon-lastfm {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf202;');
}

.icon-lastfm-square {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf203;');
}

.icon-toggle-off {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf204;');
}

.icon-toggle-on {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf205;');
}

.icon-bicycle {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf206;');
}

.icon-bus {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf207;');
}

.icon-ioxhost {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf208;');
}

.icon-angellist {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf209;');
}

.icon-cc {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf20a;');
}

.icon-shekel, .icon-sheqel, .icon-ils {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf20b;');
}

.icon-meanpath {
    *zoom: expression( this.runtimeStyle['zoom'] = '1',this.innerHTML = '&#xf20c;');
}