//a
a
  color #369
  text-decoration none
  white-space normal
  word-break break-all
  cursor pointer
  \*font-size 12px
  \*font-weight normal

  &:link
    text-decoration none

  &:visited
    color #666

  &:hover
    color #c33
    text-decoration none

  &:active
    color #cd0000
    text-decoration none