//ad
.ad
  position relative
  clear both
  overflow hidden
  margin 8px auto
  text-align center
  font-weight bold
  font-size 12px
  line-height 16px

  .tail
    @extend .abs
    top 0
    right 0
    z-index -1
    width 20px
    height 100%
    border-right 8px #f9f9f9 solid
    background-color #eee

.ad-top, .ad-bottom
  width 980px
  height 90px
  text-align left

.ad-top
  margin 16px auto

.ad-bottom
  margin 16px auto

.ad-right
  margin 0 auto 8px
  width 240px
  height 160px
  text-align right