//alert
.alert
  position relative
  display block
  margin 4px auto
  padding 8px
  border 1px solid #bce8f1
  border-radius 2px
  background-color #d9edf7
  color #31708f
  text-align left
  font-size 13px
  line-height 1.4

.alert.success, .alert-success
  background-color #dff0d8
  border-color #d6e9c6
  color #3c763d

.alert.info, .alert-info
  background-color #d9edf7
  border-color #bce8f1
  color #31708f

.alert.warning, .alert-warning
  background-color #fcf8e3
  border-color #faebcc
  color #8a6d3b

.alert.danger, .alert.error, .alert-danger, .alert-error
  background-color #f2dede
  border-color #ebccd1
  color #a94442
