//btn
.btn
  -webkit-box-sizing border-box
  -moz-box-sizing border-box
  box-sizing border-box
  @extend .no-select
  @extend .inline-block
  position relative
  float left
  margin 2px 2px 0
  padding 0 8px
  width auto
  height 28px
  outline none
  outline 0
  border 1px solid #ccc
  border-radius 1px
  background-color #fff
  background-repeat repeat-x
  box-shadow 0 1px 1px rgba(#000, 0.1)
  color #333
  vertical-align middle
  text-align center
  font-size 14px
  line-height 26px
  cursor pointer
  \*zoom 1

  &:visited
    color #333

  &.active, &:active
    border-color #999
    background-color #ccc
    color #333
    &:hover
      border-color #aaa
      background-color #ddd

  &:hover
    border-color #bbb
    background-color #eee
    color #333

  &:focus
    outline none

  &:first-of-type
    border-radius 1px
    margin-left 0

  &:last-of-type
    border-radius 1px
    margin-right 0

a.btn
  white-space normal

.active.btn, .btn-active, .btn:active
  outline 0
  box-shadow inset 0 1px 2px rgba(#000, 0.2)

.mini.btn, .btn-mini
  height 24px
  line-height 20px
  font-size 12px

//type
arr = (color-primary color-success color-info color-warning color-danger color-danger color-debug)
for type, i in primary success info warning danger error debug
  .{type}.btn
    color = arr[i]
    color #fff
    border 1px solid color
    background-color color

    &.active, &:active
      border-color darken(color, 20%)
      background-color darken(color, 10%)
      &:hover
        border-color darken(color, 15%)
        background-color darken(color, 5%)

    &:hover
      border-color lighten(color, 10%)
      background-color lighten(color, 10%)

.disabled.btn
  color = #666
  color #fff
  border 1px solid color
  background-color color
  cursor not-allowed

  &.active, &:active
    border-color darken(color, 20%)
    background-color darken(color, 10%)
    &:hover
      border-color darken(color, 15%)
      background-color darken(color, 5%)

  &:hover
    border-color lighten(color, 10%)
    background-color lighten(color, 10%)

//group
.group
  .btn
    margin 2px 0 0 -1px
    border-radius 0

    &:first-of-type
      margin-left 2px
      border-radius 1px 0 0 1px

    &:last-of-type
      margin-right 2px
      border-radius 0 1px 1px 0

    &.active, &:active
      z-index 1