//captcha
img.captcha
  @extend .inline-block
  float left
  margin 4px 0 16px
  padding 0 4px
  width 110px
  height 50px
  border 1px dashed #ddd
  border-radius 2px
  cursor pointer

  &:hover
    border-color #ccc

input.captcha
  @extend .inline-block
  float left
  margin-left 16px
  width 96px
