//icon
.icon
  margin-right 0.2em
  line-height 1em
  width 1em
  text-align center
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale

  a &
    cursor pointer

  .btn &
    cursor pointer

  .tab &
    cursor pointer

  .fixed &
    cursor pointer

  .menu &
    cursor pointer