//menu
.menu
  @extend .abs
  top auto
  left 0
  z-index 8
  display none
  margin 0
  padding 0
  min-width 160px
  border 1px solid #fff
  background-color #fff
  box-shadow 0 1px 2px rgba(#000, 0.1)
  list-style none
  font-size 13px
  \*width 160px
  text-shadow none

  a
    color #666
    white-space nowrap
    font-weight normal

  li, .item
    position relative
    display block
    margin 0
    padding 0 16px
    width 100%
    height 32px
    background-color #fff
    color #666
    text-align left
    line-height 32px

    &:last-of-type
      border-bottom none

    &:hover, &.active
      background-color color-primary
      cursor pointer
      &.success
        background-color color-success
      &.info
        background-color color-info
      &.warning
        background-color color-warning
      &.danger, &.error
        background-color color-danger
      &.debug
        background-color color-debug
      &.disabled
        background-color #999
        cursor not-allowed
      .hint
        color #fff

      color #fff
      a
        color #fff

    a
      display block

      .hint
        font-size 12px
        color #999
        margin-left 1em

.no-boxshadow .menu
  border-color #ddd
