//pager
.area-pager
  @extend .no-select
  overflow hidden
  margin 4px auto
  padding 4px 0
  width 100%
  height auto

  .hint
    @extend .inline-block
    float left
    margin 0 0 0 8px
    height 32px
    color #999
    text-align left
    font-size 14px
    line-height 32px

  li
    @extend .inline-block

  .ipt-pager
    @extend .inline-block
    margin 0 4px
    min-width 0
    width 32px
    text-align right

  .btn-pager
    float none
    margin 0 0 0 4px !important
    min-width 32px

.pager
  color = color-primary
  @extend .inline-block
  float left
  margin 0 2px 0 0
  padding 0 4px
  min-width 32px
  width auto
  height 32px
  border none
  border-radius 1px
  background-color color
  box-shadow 0 1px 1px rgba(#000, 0.1)
  color #fff
  text-align center
  text-shadow 0 1px 1px rgba(#000, 0.1)
  font-weight bold
  font-size 12px
  line-height 32px
  cursor pointer

  &:visited
    color #fff

  &:hover
    background-color color + 10%
    color #fff

  &:active
    background-color color - 10%
    box-shadow inset 0 1px 2px rgba(#000, 0.2)
    color #fff

  &.active
    background-color #eee
    box-shadow inset 0 1px 2px rgba(#000, 0.2)
    color #333
    cursor default

  .icon
    margin 0