//switch
.switch
  trans(0s)
  @extend .no-select
  width 64px
  \*width 28px
  height 28px
  cursor pointer
  background-color #999
  color #fff
  border-radius @height * 0.5
  box-shadow 0 1px 2px rgba(#000, 0.2) inset
  position relative
  margin 2px 2px 0
  font-size 12px
  overflow hidden

  &:before
    content '\f00c\f00d'
    @extend .abs
    font-family FontAwesome
    font-style normal
    font-weight normal
    width 64px
    height 28px
    line-height @height
    font-size 12px
    text-align left
    letter-spacing 20px
    padding-left 10px
    text-shadow 0 1px 1px rgba(#000, 0.1)

  &:after
    content ''
    @extend .abs
    trans(0s)
    width 24px
    height @width
    background-color #fff
    border-radius @height * 0.5
    left 2px
    top 2px

  &.active
    background-color color-primary
    &.success
      background-color color-success
    &.info
      background-color color-info
    &.warning
      background-color color-warning
    &.danger, &.error
      background-color color-danger
    &.debug
      background-color color-debug
    &.disabled
      background-color #999
      cursor not-allowed
    &:after
      left 38px

  &.disabled
    background-color #ccc
    cursor not-allowed