//title
.title
  transition color 0.2s
  color #0187c5
  font-size 12px

  a
    color #0187c5

  .icon
    \*display none

//desc
.desc
  color #888
  white-space normal
  word-break break-all
  font-size 12px
  line-height 16px

//name
.name
  transition color 0.2s
  color #c66
  font-size 12px

  a
    color #c66

//
.views, .comments, .favors, .shares, .pts
  color #999
  font-size 11px
  cursor default

.title, .name, .sign
  word-break break-all

//channel
.channel
  @extend .inline-block
  padding 0 2px
  height 16px
  border-radius 1px
  background-color #c69
  color #fff
  text-align center
  font-size 12px
  line-height 16px
  margin 0 4px 0 0

  &:visited
    color #fff

  &:hover
    color #fff

//tag
.tag
  font-size 12px

  a
    color #666

    &:hover
      color #ff0169

//subtitle
.subtitle
  @extend .no-select
  @extend .inline-block
  margin 4px 0
  height 24px
  line-height 24px
  font-size 13px
  padding 0 4px
  border-radius 1px
  box-shadow none
  background-color #eee
  color #666
  cursor default