//.thumb
.thumb
  @extend .no-select
  @extend .inline-block
  white-space normal
  position relative
  cursor pointer

  &:hover

    img
      box-shadow 0 1px 2px rgba(#000, 0.2)

    .icon-play-circle-o
      opacity 0.9
      transform scale(1.5)
      visibility visible

  img
    trans(0s, 0.2s, box-shadow)
    display block
    margin 0
    border: 1px solid #fff
    box-shadow 0 1px 3px rgba(#000, 0)
    font-size 12px
    line-height 16px
    overflow hidden
    background-color #eee

  .preview
    width 160px
    height 90px

  .avatar
    width 80px
    height 80px

  //icon
  .icon-play-circle-o
    trans(0.2s)
    @extend .abs
    left 50%
    top 50%
    z-index 2
    width 32px
    height @width
    font-size @height
    line-height @height
    margin (- @height * 0.5) 0 0 (- @width * 0.5)
    color #fff
    text-shadow 0 0 8px #000
    opacity 0
    visibility hidden
    pointer-events none

    //size
    &.small
      width 24px
      height @width
      font-size @height
      line-height @height
      margin (- @height * 0.5) 0 0 (- @width * 0.5)