//win
.win
  @extend .abs
  z-index 5
  margin 0
  padding 0
  width auto
  height auto
  border 1px solid #fff
  background-color #fff
  box-shadow 0 1px 3px rgba(#000, 0.3)
  \*height auto !important

  &.active
    z-index 6

  .block-title
    @extend .no-select
    position relative
    z-index 1
    width auto
    height auto
    text-align left
    cursor move

    .title
      margin 0
      padding-left 8px
      width auto
      height 36px
      border-bottom 1px solid #ddd
      background-color #fff
      color #333
      text-align left
      font-size 16px
      font-family Michroma, 'Segoe UI Light', 'Segoe UI', 'Segoe UI WP', 'Microsoft Jhenghei', '微软雅黑', sans-serif, Times
      line-height 34px
      cursor move

    .area-tool
      @extend .abs
      top 0
      right 0
      left auto
      margin 0
      padding 0
      width auto
      height 32px
      text-align right

    .close
      position relative
      margin 0
      width 36px
      height 36px
      text-align center
      line-height 36px
      cursor pointer
      color #999
      &:hover
        color red
      .icon
        cursor pointer
        margin 0

  .mainer
    position relative
    top 0
    left 0
    overflow hidden
    margin 0
    padding 8px
    width auto
    height auto
    background-color #fff
    text-align left

    .hint-window
      color #999
      text-align center
      font-size 14px

#win-msg
  left 0 !important
  height auto !important

  &:before
    position absolute
    top -7px
    left 9px
    display inline-block
    border-right 7px solid transparent
    border-bottom 7px solid rgba(#000, 0.2)
    border-left 7px solid transparent
    content ''

  &:after
    position absolute
    top -6px
    left 10px
    display inline-block
    border-right 6px solid transparent
    border-bottom 6px solid #fff
    border-left 6px solid transparent
    content ''