//-base
include ../framework/html/base
//-html
doctype html
html(xmlns="http://www.w3.org/1999/xhtml")
    head
        //-meta
        include ../framework/html/meta
        //-title
        title 动画魂 - AniTama
        //-style
        include ../framework/html/style
        link(rel="stylesheet", href="../framework/style/jquery.fullPage.min.css")
        link(rel="stylesheet", href="style/index.min.css")
    body
        //-stage
        #stage
            #section-a.section
                #logo
            #section-b.section
                #part-a.part
                    .inner
                        .item
                            p
                                | 邮箱：
                                a(href="mailto:BD@AniTama.cn", target="_blank") BD@AniTama.cn
                            p 地址：上海市徐汇区肇嘉浜路768号欧江大厦
                            p 简介：《Anime Tamashii》（简称《AniTama》、《动画魂》）电子杂志是首个面向华语动漫爱好者的电子刊物。其致力于为华语动漫观众提供高质量的最新动画资讯。通过与动画制作人、声优等从业者的对谈，让更多的观众了解并热爱动画。与此同时，《Anime Tamashii》也热衷于中外文化艺术交流事业，促进中外动画业者交流合作，为动画行业繁荣尽一份努力。

                #part-b.part
                    .inner
                        .item
                            p 『Anime Tamashii』(AniTama、アニメ魂)は、中国において、アニメファンに贈る、史上初のデジタルマガジンです。創刊当初から、アニメに関するハイクオリティーな最新情報を提供すべく、日々努めております。また、アニメスタッフや声優の方々によるインタビューを通し、より多くのオーディエンスにアニメを理解させ、愛させるのが目標です。更に、『アニメ魂』は海外との文化・芸術交流活動にも関心を抱き、中日アニメ業者における交流と協力を深化すべく、業界の繁栄に微力を尽くす所存です。
        //-script
        include ../framework/html/script
        script(src="../framework/script/jquery.fullPage.min.js")
        script(src="script/index.min.js")