//stage
html
  position static

body
  position static
  background #fff
  font-size 12px
  //font-family '黑体', tahoma, arial, simsun, '宋体'
  font-family 'Hiragino Sans GB', 'Microsoft Yahei', 'WenQuanYi Micro Hei', SimSun, Tahoma, Arial, Helvetica, STHeiti
  line-height 16px
  -webkit-font-smoothing antialiased

//stage
#stage
  position relative
  top 0
  left 0
  z-index 0
  margin 0
  padding 0
  text-align center