.section

  .part
    height 50%
    position relative

  .inner
    margin 0 auto
    width 960px
    height 100%
    position relative

  .item
    width 100%
    height 240px
    padding-left 320px
    text-align left
    font-size 16px
    line-height 1.8
    position absolute
    top 32px

    a
      color #eee

      &:hover
        color #fff

    p
      margin 8px 0

#section-a
  background #000
  background -webkit-radial-gradient(center center, circle, #222, #000)
  background -moz-radial-gradient(center center, circle, #222, #000)

#logo
  width 100%
  height 100%
  background url(image/logo-1.png) center center no-repeat

#section-b
  background #eee
  position relative

#part-a
  color = #666
  background color
  background -webkit-linear-gradient(top, color, color - 10%)
  background -moz-linear-gradient(top, color, color - 10%)
  color #eee
  text-shadow 0 1px 0 rgba(#000)

  .item
    background url(image/logo-2.png) 120px center no-repeat
    top auto
    bottom 32px

#part-b
  color = #eee
  background color
  background -webkit-linear-gradient(top, color, color - 10%)
  background -moz-linear-gradient(top, color, color - 10%)
  color #666
  text-shadow 0 1px 0 rgba(#fff)

#fp-nav
  ul
    li
      a
        &.active
          span
            background-color #08c
        span
          background #fff
          border-color #08c
          &:hover
            background-color #08c
            border-color #08c