//-ie renderer
meta(content="IE=edge", http-equiv="X-UA-Compatible")
//-360 renderer
meta(name="renderer", content="webkit")
//-charset
meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
//-copyright
meta(name="copyright", content="Copyright (c) AniTama")
//-keyword
meta(name="keywords", content="AniTama")
//-description
meta(name="description", content="AniTama")