//-link
- var link = {};

//-core
- link.core = '../framework/script/core.min.js';

//-ready
- link.ready = '../framework/script/ready.min.js';

//-jquery
- link.jquery = [];
//-zepto
- link.jquery.push('../framework/script/zepto.min.js');
//-1.x
- link.jquery.push('../framework/script/jquery-1.11.3.min.js');
//-2.x
- link.jquery.push('../framework/script/jquery-2.1.4.min.js');

//-output

//-switch jquery or zepto
- if(zepto)
    script(src="#{link.jquery[0]}")
- else
    | <!--[if lte IE 8]><script src="#{link.jquery[1]}"></script><![endif]-->
    | <!--[if (gte IE 9)|!(IE)]><!--><script src="#{link.jquery[2]}"></script><!--<![endif]-->

//-core
script(src="#{link.core}")
//-ready
    script(src="#{link.ready}")
