//-link
- var link = {};
//-core
- link.core = '../framework/style/core.min.css';
//-font-awesome
- link.font = {};
- link.font.modern = '../icon/css/icon.min.css';
- link.font.ie7 = '../icon/css/icon-ie7.min.css';

//-output

//-favicon
link(href="favicon.ico", rel="shortcut icon", type="image/x-icon")

//-core
link(rel="stylesheet", href="#{link.core}")
//-font-awesome
| <!--[if lte IE 7]><link rel="stylesheet" href="#{link.font.ie7}"></link><![endif]-->
| <!--[if (gte IE 8)|!(IE)]><!--><link rel="stylesheet" href="#{link.font.modern}"></link><!--<![endif]-->